/* Sidebar */
.sidebar { 
    width: 280px; 
    min-width: 280px; 
    background: white; 
    border-right: 1px solid var(--border); 
    display: flex; 
    flex-direction: column; 
    padding: 24px; 
    z-index: 10; 
    /* MODIFICATION ICI : On enlève space-between pour flex-start */
    justify-content: flex-start; 
}

.profile-card { 
    display: flex; 
    align-items: center; 
    gap: 15px; 
    margin-bottom: 20px; /* Réduit l'espace sous le profil */
    padding-bottom: 20px; 
    border-bottom: 1px solid var(--border); 
}

.profile-card img { 
    width: 56px; 
    height: 56px; 
    border-radius: 12px; 
    object-fit: cover; 
    border: 2px solid var(--border); 
}

.status-pill { 
    font-size: 11px; 
    font-weight: 700; 
    padding: 2px 8px; 
    border-radius: 12px; 
    display: inline-block; 
}
.online { background: #dcfce7; color: #166534; } 
.offline { background: #fee2e2; color: #991b1b; }

.nav-section { 
    font-size: 11px; 
    font-weight: 800; 
    color: #94a3b8; 
    margin-bottom: 10px; 
    margin-top: 10px; /* Petit espace au dessus de NAVIGATION */
    letter-spacing: 1px; 
}

.nav-links { 
    list-style: none; 
    /* Enlève le flex: 1 qui poussait tout vers le bas */
}

.nav-links li { 
    padding: 12px 16px; 
    margin-bottom: 4px; 
    border-radius: 8px; 
    cursor: pointer; 
    color: var(--text-muted); 
    font-weight: 600; 
    font-size: 14px; 
    display: flex; 
    gap: 12px; 
    align-items: center; 
    transition: 0.2s; 
}

.nav-links li:hover { background: #f8fafc; color: var(--primary); transform: translateX(4px); }
.nav-links li.active { background: #eff6ff; color: var(--primary); }

/* C'est ICI qu'on force le bouton à aller tout en bas */
.sidebar-footer {
    margin-top: auto; 
}

.btn-logout { 
    width: 100%; 
    padding: 12px; 
    background: #fef2f2; 
    color: var(--danger); 
    font-weight: 600; 
    border-radius: 8px; 
    cursor: pointer; 
    display: flex; 
    gap: 8px; 
    justify-content: center; 
    border:none; 
}
